#buttonSaveFile {
    display: none;
}

#textSection {
    display: none;
    align-items: stretch;
    justify-content: stretch;
}

#beamerLaTeX {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#preview {
    min-width: 30%;
}

#beamerOutput {
    width: 100%;
    height: 500px;
}

.io {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 24px;
    height: 24px;
    margin: 0px 5px;
    margin-bottom: -5px;
}